.hero-container{
    margin-left: -8px;
    margin-right: -8px;
    
}

.video-properties{
    object-fit: cover;
    width: 100%;
}

.container-component{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #676261;
    font-size: 2rem;
    position: absolute;
    top: 30%;
    left: 10%;
    right: 10%;
}

.buttons{
    display: flex;
}

.btns{
    margin-right: 10px;
}

@media only screen and (max-width : 850px){
    .container-component{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #676261;
        font-size: 0.8rem;
        position: absolute;
        left: 5%;
        right: 5%;
    }
    .image-container{
        flex-direction: column;
        align-items: center;
    }
}

@media only screen and (max-width : 750px) {
    .video-properties{
        height: 750px;
    }
}

.content-box{
    display: flex;
    min-height: 200px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4%;
}

.image-container{
    display: flex;
    min-height: 50px;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 4%;
}

.image{
    max-width: 100%;
    max-height: 295px;
}

.image-fixer{
    display: flex;
    width: 35%;
    flex-direction: column;
    align-items: center;
}

.image-fixer:hover{
    transition: transform .2s;
    width: 37%;
}

.text-adjustment{
    font-family: 'PT Sans', sans-serif;
}
